.todoWrapper {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  span {
    font-size: 12px;
    font-weight: 700;
  }
  h2 {
    font-size: 24px;
    font-weight: 500;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
  }
}
