.display_flex {
  display: flex;

  &-justify-content {
    &--flex-end {
      justify-content: flex-end;
    }
  }

  &-justifyBetween {
    justify-content: space-between;
  }
}

.margin {
  &_t {
    &_2 {
      margin-top: 2rem !important;
    }

    &_3 {
      margin-top: 3rem !important;
    }

    &_4 {
      margin-top: 4rem !important;
    }

    &_5 {
      margin-top: 5rem !important;
    }
  }
  &_b {
    &_2 {
      margin-bottom: 2rem !important;
    }

    &_3 {
      margin-bottom: 3rem !important;
    }

    &_4 {
      margin-bottom: 4rem !important;
    }

    &_5 {
      margin-bottom: 5rem !important;
    }
  }
}

.finished {
  background-color: rgba(0, 209, 178, 0.2);
  color: rgba(0,0,0,0.4);
}
